.hero_container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0px;
  margin-bottom: 30px;
}
.content {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: transparent;
  text-align: center;
}
.content h1,
.content h4 {
  background-color: transparent;
  color: white;
}
