.container {
  position: absolute;
  top: 50px;
  right: 10px;
  transform: translateY(-300%);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  width: 400px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.356);
  border-radius: 5px;
  background-color: white;
  color: black;
  overflow-y: scroll;
}
.container.open {
  transform: translateY(0%);
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 7px;
  border-radius: 3px;
}
